{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <br>
    <h4>Créez votre compte</h4>
    <br>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.Nom) }}
    {{ form_row(registrationForm.Prenom) }}
    {{ form_row(registrationForm.Adresse) }}
    {{ form_row(registrationForm.Telephone) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword,{label: 'Password'}) }}
    {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Enregistrer</button>
    {{ form_end(registrationForm) }}
{% endblock %}
